
set default=0
set timeout=0



menuentry "Auto Chainload -> /chainload.cfg" {
	savedefault
    insmod part_gpt
    insmod ext4
    insmod fat
    insmod ext2
	insmod normal
    search --no-floppy --fs-uuid --set=root B0B9-FC02
    if [ -e /chainload.cfg ]; then
        configfile /chainload.cfg
    else
        configfile /chainload.cfg
    fi
}



menuentry "Chainload -> fallback config at /grub2/fallback.cfg where grub themes are located" {
    insmod part_gpt
    insmod ext4
    insmod fat
    insmod ext2
	insmod normal
    search --no-floppy --fs-uuid --set=root B0B9-FC02
    if [ -e /grub2/grub.cfg ]; then
        configfile /grub2/fallback.cfg
    else
        configfile /grub/fallback.cfg
    fi
}
